		<style type="text/css">
		body {
			font-size: 87.5%;
			margin-left: 2cm;
			background-color: #FFFFCC; 	} /* This could also be coded as #FFC */
			font-family: Arial
			font-size: 12pt; 	/*in point */
		h1 {font-size:200%;
			color:#00F; }
		</style>